.idea
.venv
.coverage
.pre-commit-config.yaml
.github
tests/
deployment/gcp_key.json
deployment/.terraform/
deployment/.terraform.lock.hcl
deployment/terraform.tfstate
deployment/terraform.tfstate.backup
deployment/terraform.tfvars