default_stages: [ pre-commit, manual, commit-msg ]

repos:
  # Code formatter
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        # only format .py under backend/
        files: ^backend/.*\.py$
        args:
          - --config=backend/pyproject.toml

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [ python ]
        files: \.py$
        exclude: ^(tests)$
        args:
          - app
          - --rcfile=pyproject.toml

  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.2.0
    hooks:
      - id: conventional-pre-commit
        stages: [ commit-msg ]
        args: [ ]
